body{
    background: #333 url(../img/bg.jpg) repeat top left;
    font: 12px/14px sans-serif;
    color:white;
}

h1{
    font: 16px sans-serif;
}
h2{
    font: 14px sans-serif;
}
p{
    font: 12px sans-serif;
}

/* navigation */
nav{
    text-align:center;
    margin-top: 40px;
}
.navigation span {
    color: transparent;
    display: block;
    text-transform: uppercase;
    text-shadow: 0px 0px 7px #fff;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font:3em Arial;
    margin-right:3px;
    cursor:pointer;
}

.navigation:hover span{
    text-shadow: 0px 0px 5px #0d1a3a;
}
.navigation li{
    display:inline-block;
}

.navigation li span.selected{
    color: #fff;
    text-shadow: 0px 0px 1px #fff;
    padding-left: 10px;
}

.navigation li span:hover{
    color: #fff;
    text-shadow: 0px 0px 1px #fff;
    padding-left: 10px;
}

/* container */
div.container{
    height:400px;
    background-color:rgba(219,219,219,0.2);
    position:relative;
    border-radius:10px;
    padding: 1em 3em;
    margin: 40px 40px;
}

div.container div{
    height:400px;
    width:80%;
    position:absolute;
    margin:0 auto auto;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    padding:20px;
}

div.container div.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

div.container div h1{
    font-size:40px;
    margin-bottom:10px;
}


/* footer */
footer{
    background-color:rgba(219,219,219,0.2);
    padding:20px;
    height:150px
}

footer section{
    width:200px;
    height:100%;
    display:inline-table;
    border-right:1px dotted #a9aaab;
    padding:4px;
}

footer section h2{
    color:#a9aaab;
    font: 25px sans-serif;
}

footer ul{
    list-style:none;
    margin-top:10px;
    padding-left:20px;
}

footer li{
    padding:2px 0px;
}

footer a{
    cursor: pointer;
    text-decoration: none;
    color:#ffffff;
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

footer a:hover{
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
    font-weight: bold;
    color:#ff8c00;
    padding-left:15px;
    text-shadow: 2px 3px 10px #fafcff;
}